fastapi==0.115.6
uvicorn[standard]==0.24.0
python-multipart==0.0.18
librosa==0.10.2
soundfile==0.12.1
pyloudnorm==0.1.1
scipy>=1.13.0
numpy>=1.26.0
setuptools>=75.0.0
imageio-ffmpeg==0.5.1
reportlab==4.1.0
resampy
requests>=2.32.0
aiohttp>=3.10.11
