fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6
librosa==0.10.1
soundfile==0.12.1
pyloudnorm==0.1.1
scipy>=1.13.0
numpy>=1.26.0
setuptools>=75.0.0
pydub==0.25.1
imageio-ffmpeg==0.5.1
reportlab==4.1.0
resampy
aiohttp>=3.9.0
